<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Sitewards_DisabledProducts>
			<version>1.0.1</version>
		</Sitewards_DisabledProducts>
	</modules>
	<global>
		<models>
			<sitewards_disabledproducts>
				<class>Sitewards_DisabledProducts_Model</class>
			</sitewards_disabledproducts>
		</models>
		<blocks>
			<sitewards_disabledproducts>
				<class>Sitewards_DisabledProducts_Block</class>
			</sitewards_disabledproducts>
		</blocks>
		<helpers>
			<sitewards_disabledproducts>
				<class>Sitewards_DisabledProducts_Helper</class>
			</sitewards_disabledproducts>
		</helpers>
		<resources>
			<sitewards_disabledproducts_setup>
				<setup>
					<module>Sitewards_DisabledProducts</module>
					<class>Sitewards_DisabledProducts_Model_Resource_Eav_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</sitewards_disabledproducts_setup>
		</resources>
	</global>
	<adminhtml>
		<translate>
			<modules>
				<sitewards_disabledproducts>
					<files>
						<default>Sitewards_DisabledProducts.csv</default>
					</files>
				</sitewards_disabledproducts>
			</modules>
		</translate>
	</adminhtml>
	<default>
		<disabled_product_config>
			<disabled_product_general>
				<disabled_product_text>This product is not avalible to buy</disabled_product_text>
				<enable_ext>1</enable_ext>
			</disabled_product_general>
		</disabled_product_config>
	</default>
	<frontend>
		<layout>
			<updates>
				<sitewards_disabledproducts>
					<file>sitewards/disabledproducts.xml</file>
				</sitewards_disabledproducts>
			</updates>
		</layout>
	</frontend>
</config>